.item {
    padding: 2% 0;
    padding-left: 5px;
    display: flex;
    .info {
        margin-left: 5px;
        width: calc(100% - 55px);
        border-bottom: 1px solid #828282;
        .name {
            color: #fff;
            font-size: 17px;
            margin-bottom: 3px;
            display: inline-block;
        }

        .message {
            color: #828282;
            font-size: 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
